* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
*.md text eol=lf
*.svg text eol=lf
*.doc binary
*.docx binary
*.pdf binary
*.xlsx binary
*.gif binary
*.png binary
*.jpg binary
*.jpeg binary
*.pptx binary
